Delete!
<input id="hidden" type="hidden" name="_method" value="delete">
<form method="POST" action="/tweets">

  Content<input type="text" name="content">
  <input type="submit" value="Delete Tweet">
</form>
