<%=session[:user_id]%>

<br/>
Welcome, <%=@user.username%>

<br/>
Create a New Tweet!
<form method="POST" action="/tweets">
  Content<input type="textbox" name="content" height="20 px">
  <input type="submit" value="submit">
</form>
<a href="/logout">Logout</a>
